@import url('fadeIn.css');
@import url('scale.css');
@import url('left-shake.css');

.anim{
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}